/* style.css */

/* AnchorPane background color */
.root {
    -fx-background-color: linear-gradient(to bottom, purple, white);
}
/* Label styling */
.label {
    -fx-font-size: 24px;
    -fx-font-family: "Arial";
    -fx-text-fill: "white";
    -fx-font-weight: bold;
    -fx-alignment: center;
}

/* TextField and PasswordField styling */
.text-field, .password-field {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #ff7070;
    -fx-border-width: 1px;
    -fx-background-color: #e6e6fa; /* Light lavender background color */
    -fx-text-fill: #4b0082; /* Indigo text color */
}

/* Button styling */
.button {
    -fx-background-color: #ff7070;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-pref-width: 100px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e06363;
}

.button:pressed {
    -fx-background-color: #d35454;
}

/* ImageView styling */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}
